# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Release
Debug
Debug/Utilities/Fonts/subdir.mk
Debug/Utilities/Fonts/font8.su
Debug/Utilities/Fonts/font24.su
Debug/Utilities/Fonts/font20.su
Debug/Utilities/Fonts/font16.su
Debug/Utilities/Fonts/font12.su
Debug/Src/tensorflow/lite/micro/test_helpers.su
Debug/Src/tensorflow/lite/micro/subdir.mk
Debug/Src/tensorflow/lite/micro/simple_memory_allocator.su
Debug/Src/tensorflow/lite/micro/micro_utils.su
Debug/Src/tensorflow/lite/micro/micro_optional_debug_tools.su
Debug/Src/tensorflow/lite/micro/micro_interpreter.su
Debug/Src/tensorflow/lite/micro/micro_error_reporter.su
Debug/Src/tensorflow/lite/micro/micro_allocator.su
Debug/Src/tensorflow/lite/micro/memory_planner/subdir.mk
Debug/Src/tensorflow/lite/micro/memory_planner/linear_memory_planner.su
Debug/Src/tensorflow/lite/micro/memory_planner/greedy_memory_planner.su
Debug/Src/tensorflow/lite/micro/memory_helpers.su
Debug/Src/tensorflow/lite/micro/kernels/unpack.su
Debug/Src/tensorflow/lite/micro/kernels/svdf.su
Debug/Src/tensorflow/lite/micro/kernels/subdir.mk
Debug/Src/tensorflow/lite/micro/kernels/strided_slice.su
Debug/Src/tensorflow/lite/micro/kernels/split.su
Debug/Src/tensorflow/lite/micro/kernels/softmax.su
Debug/Src/tensorflow/lite/micro/kernels/round.su
Debug/Src/tensorflow/lite/micro/kernels/reshape.su
Debug/Src/tensorflow/lite/micro/kernels/reduce.su
Debug/Src/tensorflow/lite/micro/kernels/quantize.su
Debug/Src/tensorflow/lite/micro/kernels/prelu.su
Debug/Src/tensorflow/lite/micro/kernels/portable_optimized/subdir.mk
Debug/Src/tensorflow/lite/micro/kernels/portable_optimized/depthwise_conv.su
Debug/Src/tensorflow/lite/micro/kernels/pooling.su
Debug/Src/tensorflow/lite/micro/kernels/pad.su
Debug/Src/tensorflow/lite/micro/kernels/pack.su
Debug/Src/tensorflow/lite/micro/kernels/neg.su
Debug/Src/tensorflow/lite/micro/kernels/mul.su
Debug/Src/tensorflow/lite/micro/kernels/maximum_minimum.su
Debug/Src/tensorflow/lite/micro/kernels/logistic.su
Debug/Src/tensorflow/lite/micro/kernels/logical.su
Debug/Src/tensorflow/lite/micro/kernels/fully_connected.su
Debug/Src/tensorflow/lite/micro/kernels/floor.su
Debug/Src/tensorflow/lite/micro/kernels/elementwise.su
Debug/Src/tensorflow/lite/micro/kernels/dequantize.su
Debug/Src/tensorflow/lite/micro/kernels/conv.su
Debug/Src/tensorflow/lite/micro/kernels/concatenation.su
Debug/Src/tensorflow/lite/micro/kernels/comparisons.su
Debug/Src/tensorflow/lite/micro/kernels/ceil.su
Debug/Src/tensorflow/lite/micro/kernels/arg_min_max.su
Debug/Src/tensorflow/lite/micro/kernels/all_ops_resolver.su
Debug/Src/tensorflow/lite/micro/kernels/add.su
Debug/Src/tensorflow/lite/micro/kernels/activations.su
Debug/Src/tensorflow/lite/micro/debug_log_numbers.su
Debug/Src/tensorflow/lite/micro/arduino/subdir.mk
Debug/Src/tensorflow/lite/micro/arduino/debug_log.su
Debug/Src/tensorflow/lite/kernels/subdir.mk
Debug/Src/tensorflow/lite/kernels/kernel_util.su
Debug/Src/tensorflow/lite/kernels/internal/subdir.mk
Debug/Src/tensorflow/lite/kernels/internal/quantization_util.su
Debug/Src/tensorflow/lite/core/api/subdir.mk
Debug/Src/tensorflow/lite/core/api/flatbuffer_conversions.su
Debug/Src/tensorflow/lite/core/api/error_reporter.su
Debug/Src/tensorflow/lite/c/subdir.mk
Debug/Src/sys/subdir.mk
Debug/Src/subdir.mk
Debug/sources.mk
Debug/objects.mk
Debug/objects.list
Debug/makefile
Debug/Drivers/STM32F7xx_HAL_Driver/Src/subdir.mk
Debug/Drivers/BSP/STM32746G-Discovery/subdir.mk
Debug/Drivers/BSP/Components/wm8994/subdir.mk
Debug/Drivers/BSP/Components/ts3510/subdir.mk
Debug/Drivers/BSP/Components/stmpe811/subdir.mk
Debug/Drivers/BSP/Components/s5k5cag/subdir.mk
Debug/Drivers/BSP/Components/ov9655/subdir.mk
Debug/Drivers/BSP/Components/mfxstm32l152/subdir.mk
Debug/Drivers/BSP/Components/ft5336/subdir.mk
Debug/Drivers/BSP/Components/exc7200/subdir.mk
Debug/ARMNN/Source/subdir.mk
Debug/ARMNN/Source/SoftmaxFunctions/subdir.mk
Debug/ARMNN/Source/ReshapeFunctions/subdir.mk
Debug/ARMNN/Source/PoolingFunctions/subdir.mk
Debug/ARMNN/Source/NNSupportFunctions/subdir.mk
Debug/ARMNN/Source/FullyConnectedFunctions/subdir.mk
Debug/ARMNN/Source/ConvolutionFunctions/subdir.mk
Debug/ARMNN/Source/ConcatenationFunctions/subdir.mk
Debug/ARMNN/Source/BasicMathFunctions/subdir.mk
Debug/ARMNN/Source/ActivationFunctions/subdir.mk
.settings/language.settings.xml
.project_org
.project
.cproject_org
.cproject
.project
.settings/language.settings.xml
Debug/Src/104x109_model.su
Debug/Src/camera.su
Debug/Src/camera_i2c.su
Debug/Src/camera_spi.su
Debug/Src/JPEGDecoder.su
Debug/Src/lcd.su
Debug/Src/sys/_io.su
Debug/Src/sys/stubs.su
Debug/Src/tensorflow/lite/c/common.su
Debug/Src/tensorflow/lite/core/api/op_resolver.su
Debug/Src/tensorflow/lite/core/api/tensor_utils.su
PersonDetection_converter.log
.settings/language.settings.xml
.project
.cproject
PersonDetection Debug.launch
Debug/Src/tf.su
Debug/Src/system_stm32f7xx.su
Debug/Src/stm32f7xx_it.su
Debug/Src/stm32f7xx_hal_msp.su
Debug/Src/picojpeg.su
Debug/Src/person_detect_model_data.su
Debug/Src/model_quantized.tflite.su
Debug/Src/model_data.su
Debug/Src/main.su
Debug/PersonDetection.map
Debug/PersonDetection.list
Debug/PersonDetection.elf
Debug/PersonDetection.bin
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_ll_sdmmc.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_ll_fmc.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_uart.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_tim_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_tim.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_spi.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_sdram.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_sd.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_sai_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_sai.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_rtc_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_rtc.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_rcc_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_rcc.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_qspi.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_pwr_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_pwr.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_ltdc_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_ltdc.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_i2c_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_i2c.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_gpio.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_flash_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_flash.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_dsi.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_dma_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_dma2d.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_dma.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_dcmi_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_dcmi.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_cortex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_adc_ex.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal_adc.su
Debug/Drivers/STM32F7xx_HAL_Driver/Src/stm32f7xx_hal.su
Debug/Drivers/BSP/STM32746G-Discovery/stm32746g_discovery_ts.su
Debug/Drivers/BSP/STM32746G-Discovery/stm32746g_discovery_sdram.su
Debug/Drivers/BSP/STM32746G-Discovery/stm32746g_discovery_sd.su
Debug/Drivers/BSP/STM32746G-Discovery/stm32746g_discovery_qspi.su
Debug/Drivers/BSP/STM32746G-Discovery/stm32746g_discovery_lcd.su
Debug/Drivers/BSP/STM32746G-Discovery/stm32746g_discovery_eeprom.su
Debug/Drivers/BSP/STM32746G-Discovery/stm32746g_discovery_audio.su
Debug/Drivers/BSP/STM32746G-Discovery/stm32746g_discovery.su
Debug/Drivers/BSP/Components/wm8994/wm8994.su
Debug/Drivers/BSP/Components/ts3510/ts3510.su
Debug/Drivers/BSP/Components/stmpe811/stmpe811.su
Debug/Drivers/BSP/Components/s5k5cag/s5k5cag.su
Debug/Drivers/BSP/Components/ov9655/ov9655.su
Debug/Drivers/BSP/Components/mfxstm32l152/mfxstm32l152.su
Debug/Drivers/BSP/Components/ft5336/ft5336.su
Debug/Drivers/BSP/Components/exc7200/exc7200.su
Debug/ARMNN/Source/SoftmaxFunctions/arm_softmax_with_batch_q7.su
Debug/ARMNN/Source/SoftmaxFunctions/arm_softmax_u8.su
Debug/ARMNN/Source/SoftmaxFunctions/arm_softmax_s8.su
Debug/ARMNN/Source/SoftmaxFunctions/arm_softmax_q7.su
Debug/ARMNN/Source/SoftmaxFunctions/arm_softmax_q15.su
Debug/ARMNN/Source/scratch_buffer.su
Debug/ARMNN/Source/ReshapeFunctions/arm_reshape_s8.su
Debug/ARMNN/Source/PoolingFunctions/arm_pool_q7_HWC.su
Debug/ARMNN/Source/PoolingFunctions/arm_max_pool_s8_opt.su
Debug/ARMNN/Source/PoolingFunctions/arm_max_pool_s8.su
Debug/ARMNN/Source/PoolingFunctions/arm_avgpool_s8.su
Debug/ARMNN/Source/NNSupportFunctions/arm_q7_to_q15_with_offset.su
Debug/ARMNN/Source/NNSupportFunctions/arm_q7_to_q15_reordered_with_offset.su
Debug/ARMNN/Source/NNSupportFunctions/arm_q7_to_q15_reordered_no_shift.su
Debug/ARMNN/Source/NNSupportFunctions/arm_q7_to_q15_no_shift.su
Debug/ARMNN/Source/NNSupportFunctions/arm_nntables.su
Debug/ARMNN/Source/NNSupportFunctions/arm_nn_mult_q7.su
Debug/ARMNN/Source/NNSupportFunctions/arm_nn_mult_q15.su
Debug/ARMNN/Source/NNSupportFunctions/arm_nn_mat_mul_core_4x_s8.su
Debug/ARMNN/Source/NNSupportFunctions/arm_nn_mat_mul_core_1x_s8.su
Debug/ARMNN/Source/NNSupportFunctions/arm_nn_add_q7.su
Debug/ARMNN/Source/NNSupportFunctions/arm_nn_accumulate_q7_to_q15.su
Debug/ARMNN/Source/FullyConnectedFunctions/arm_fully_connected_s8.su
Debug/ARMNN/Source/FullyConnectedFunctions/arm_fully_connected_q7_opt.su
Debug/ARMNN/Source/FullyConnectedFunctions/arm_fully_connected_q7.su
Debug/ARMNN/Source/FullyConnectedFunctions/arm_fully_connected_q15_opt.su
Debug/ARMNN/Source/FullyConnectedFunctions/arm_fully_connected_q15.su
Debug/ARMNN/Source/FullyConnectedFunctions/arm_fully_connected_mat_q7_vec_q15_opt.su
Debug/ARMNN/Source/FullyConnectedFunctions/arm_fully_connected_mat_q7_vec_q15.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_nn_mat_mult_s8.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_nn_mat_mult_kernel_s8_s16_reordered.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_nn_mat_mult_kernel_s8_s16.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_nn_mat_mult_kernel_q7_q15_reordered.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_nn_mat_mult_kernel_q7_q15.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_nn_depthwise_conv_s8_core.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_depthwise_separable_conv_HWC_q7_nonsquare.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_depthwise_separable_conv_HWC_q7.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_depthwise_conv_u8_basic_ver1.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_depthwise_conv_s8_opt.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_depthwise_conv_s8.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_s8.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_HWC_q7_RGB.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_HWC_q7_fast_nonsquare.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_HWC_q7_fast.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_HWC_q7_basic_nonsquare.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_HWC_q7_basic.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_HWC_q15_fast_nonsquare.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_HWC_q15_fast.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_HWC_q15_basic.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_1x1_s8_fast.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_1x1_HWC_q7_fast_nonsquare.su
Debug/ARMNN/Source/ConvolutionFunctions/arm_convolve_1_x_n_s8.su
Debug/ARMNN/Source/ConcatenationFunctions/arm_concatenation_s8_z.su
Debug/ARMNN/Source/ConcatenationFunctions/arm_concatenation_s8_y.su
Debug/ARMNN/Source/ConcatenationFunctions/arm_concatenation_s8_x.su
Debug/ARMNN/Source/ConcatenationFunctions/arm_concatenation_s8_w.su
Debug/ARMNN/Source/BasicMathFunctions/arm_elementwise_mul_s8.su
Debug/ARMNN/Source/BasicMathFunctions/arm_elementwise_add_s8.su
Debug/ARMNN/Source/ActivationFunctions/arm_relu_q7.su
Debug/ARMNN/Source/ActivationFunctions/arm_relu_q15.su
Debug/ARMNN/Source/ActivationFunctions/arm_relu6_s8.su
Debug/ARMNN/Source/ActivationFunctions/arm_nn_activations_q7.su
Debug/ARMNN/Source/ActivationFunctions/arm_nn_activations_q15.su
.settings/language.settings.xml
.project
.cproject
*.su
.settings/language.settings.xml
